.app-html-container {
  margin: 0 !important;
  padding: 0 !important;
}

.app-popup {
  padding: 0 !important;
  background-color: transparent !important;
  width: inherit !important;
  box-shadow: none !important;
}
