@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'custom';

@layer base {
  html {
    font-family: 'Oxanium', cursive;
    scroll-behavior: smooth;
  }
}

@layer components {
  .app-banner {
    @apply w-screen relative left-[calc(-50vw_+_50%)];
  }

  .app-container {
    @apply m-auto container px-4 lg:max-w-[1440px];
  }

  /* Texts */
  .app-title-1 {
    @apply font-semibold text-[36px] leading-[45px] sm:text-[56px] sm:leading-[70px];
  }

  .app-title-2 {
    @apply font-bold text-2xl sm:text-[32px];
  }

  .app-title-3 {
    @apply font-normal text-xl sm:text-3xl;
  }

  .app-title-4 {
    @apply font-medium text-base sm:text-2xl;
  }

  .app-title-5 {
    @apply font-normal text-base sm:text-xl;
  }

  .app-title-6 {
    @apply font-normal text-sm sm:text-base leading-[22px] sm:leading-[25px];
  }

  .app-title-7 {
    @apply font-semibold text-2xl sm:text-4xl leading-[30px] sm:leading-[45px];
  }

  .app-font-WorkSans {
    font-family: 'Work Sans', sans-serif;
  }
}

@layer utilities {
  .disabled {
    @apply bg-gray-500 text-slate-700;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #d9d9d9 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

/* ===== input ===== */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.yt-lite {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

/* gradient */
.yt-lite::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  background-position: top;
  background-repeat: repeat-x;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
  thanks https://css-tricks.com/responsive-iframes/
*/
.yt-lite::after {
  content: '';
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}
.yt-lite > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* play button */
.yt-lite > .lty-playbtn {
  width: 70px;
  height: 46px;
  background-color: #212121;
  z-index: 1;
  opacity: 0.8;
  border-radius: 14%; /* TODO: Consider replacing this with YT's actual svg. Eh. */
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
  background-color: #f00;
  opacity: 1;
}
/* play button triangle */
.yt-lite > .lty-playbtn:before {
  content: '';
  border-style: solid;
  border-width: 11px 0 11px 19px;
  border-color: transparent transparent transparent #fff;
}

.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* Post-click styles */
.yt-lite.lyt-activated {
  cursor: unset;
}
.yt-lite.lyt-activated::before,
.yt-lite.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}
